body{
    background-color: #F6F1E9;
}

.container{
    max-width: 1440px;
}

p{
    font-size: 2rem;
    font-weight: 400;
    color: #393646;
    text-align: center;
    font-family:  'Montserrat-bold';
}

.attribution{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    font-family:  'Montserrat-bold';
} 

img{
    width: 25%;
}

.image-container{
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 675px) {
    img{
        width: 80%;
        min-height: 245px;
    }

    p{
        font-size: 1rem;
    }

    .attribution{
        font-size: 1rem;
    }
}

@media (max-width: 912px) {
    img{
        width: 85%;
        min-height: 250px;
    }

    p{
        font-size: 2rem;
    }

    .attribution{
        font-size: 2rem;
    }
}
